#post-content p > img{
    max-width: 300px;
}
#contact-btn{
    float: right;
}
/* フォント設定 */
@font-face {
    font-family: "Kazesawa-Semibold";
    src: url("/fonts/Kazesawa-Semibold.woff"), url("/fonts/Kazesawa-Semibold.ttf");
}
body,.postShorten .postShorten-content, .postShorten .postShorten-excerpt ,.post .post-content{
    font-family: "Kazesawa-Semibold", "游ゴシック体", YuGothic, "YuGothic M", sans-serif !important;
}
/* 一覧のバナー画像 */
/* .img-responsive{
    max-width: 200px;
} */

/* 大文字化防止 */
#heading-breadcrumbs h1, .panel.sidebar-menu ul.tag-cloud li a , .home-carousel ul, .home-carousel p{
    text-transform: none!important;
}

/* プロフィールアイコン */
.person{
    display: inline!important;
}

/* サイトタイトルテキストの調整 */
.site-title{
    margin-top: 13px!important;
    margin-bottom: 0!important;
}